<% @abouts.each  do | about |%>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <%= about.description %>
      <br>
      <br>
      <h3><%= about.name %></h3>
      <p><%= about.email %></p>
    </div>
  </div>
<% end %>
