<div class="ui selection dropdown">
  <input name="filter" type="hidden">
  <i class="dropdown icon"></i>
  <div class="default text">Filter...</div>
  <div class="menu">
    <div class="item" data-value="all" data-text="All">All</div>
    <div class="item" data-value="new" data-text="New">New</div>
    <div class="item" data-value="update" data-text="Updated">Updated</div>
  </div>
</div>